<h1>Articles listed that are created in Groups </h1>
<% if current_user == @group.user%>
<%= link_to "Approve Members", approve_path %>
<%= link_to "View All Members", view_path %>
 <% end %>
 <%= link_to "New Article", new_article_path %>
<%= render 'articles/article', obj: @group.articles %>